```{=html}
<%
date_options = {
    year: 'numeric',
    month: 'long'
}
%>
<div class="list quarto-listing-default">
    <% for (const item of items) { %>
        <div class="workshop-item" <%= metadataAttrs(item) %>>
            <div class="quarto-title">
                <h3 class="listing-title no-anchor"><%- item.title %></h3>
                <div class="listing-categories quarto-categories">
                    <% if (item.categories) { for (const category of item.categories) { %>
                    <span class="listing-category quarto-category" onclick="window.quartoListingCategory('<%= category %>'); return false;"><%= category %></span>
                    <% }} %>
                </div>
                </div>
            <div class="listing-info">
                <% if (item.organizers) { %>
                    <div class="listing-organizers">Organized by <%= item.organizers %></div>
                <% } %>
                <% if (item.offered) { %>
                    <span class="listing-offered">Offered <%- new Date(item.offered).toLocaleDateString(undefined, date_options) %></span> |
                <% } %>
                    <span class="listing-materials">
                        <a href="<%- item.lesson_materials %>">Lesson Materials</a>
                    </span> |
                    <span class="listing-registration">
                        <a href="<%- item.registration %>">Registration</a>
                    </span>
                <% if (item.length) {%>
                    <div class="listing-length"><%= item.length %> to complete</div>
                <% } %>
            </div>
            <% if (item.tools) { %>
            <div class="listing-tools">
                Languages and Tools:
                <% for (const category of item.tools) { %>
                <span class="listing-tool"><%= category %></span>
                <% } %>
            </div>
            <% } %>
            <% if (item.packages) { %>
            <div class="listing-packages">
                Packages and Libraries:
                <% for (const category of item.packages) { %>
                <span class="listing-package"><%= category %></span>
                <% } %>
            </div>
            <% } %>
        </div>
        <% if (item.prerequisites) {%>
        <div class="listing-prerequisites">
            <details>
                <summary>Prerequisites</summary>
                <%- item.prerequisites %>
            </details>
        </div>
        <% } %>
    <% } %>
</div>
```