```{=html}
<%
date_options = {
    year: 'numeric',
    month: 'long'
}
%>
<div class="list quarto-listing-default">
    <% for (const item of items) { %>
        <div class="workshop-item" <%= metadataAttrs(item) %>>
            <h3 class="listing-title no-anchor"><%- item.title %></h3>
            <div class="listing-categories">
                <% if (item.categories) { for (const category of item.categories) { %>
                <span class="listing-category" onclick="window.quartoListingCategory('<%= category %>'); return false;"><%= category %></span>
                <% }} %>
            </div>
            <div class="listing-info">
                <% if (item.organizers) { %>
                    <div class="listing-organizers">Organized by <%= item.organizers %></div>
                <% } %>
                <% if (item.offered) { %>
                    <span class="listing-offered">Offered <%- new Date(item.offered).toLocaleDateString(undefined, date_options) %></span> |
                <% } %>
                    <span class="listing-materials">
                        <a href="<%- item.lesson_materials %>">Lesson Materials</a>
                    </span> |
                    <span class="listing-registration">
                        <a href="<%- item.registration %>">Registration</a>
                    </span>
                <% if (item.length) {%>
                    <div class="listing-length"><%= item.length %> to complete</div>
                <% } %>
            </div>
            <div class="listing-tools">
                Tools:
                <% if (item.tools) { for (const category of item.tools) { %>
                <span class="listing-tool"><%= category %></span>
                <% }} %>
            </div>
            <div class="listing-packages">
                Packages:
                <% if (item.packages) { for (const category of item.packages) { %>
                <span class="listing-package"><%= category %></span>
                <% }} %>
            </div>
        </div>
    <% } %>
</div>
```